  
<div class="app-header header-shadow ">
    <div class="app-header__content">
        <div class="app-header-left">
            <ul class="header-menu nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <img width="32" src="{{url_for('static', filename='images/mind-map.svg')}}" alt=""/>
                        <h5 style="padding-top: 5px;"> &nbsp;  Global correlations</h5>
                    </a>
                </li>
                <li class="btn-group nav-item">
                    <a class="nav-link" href="/query">
                        <img width="32" src="{{url_for('static', filename='images/outbreak.svg')}}" alt=""/>
                        <h5 style="padding-top: 5px;"> &nbsp;  Query</h5>
                    </a>
                </li>
            </ul> 
        </div>
    </div>
</div>
