<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <img width="52" src="{{url_for('static', filename='images/coronavirus.svg')}}" alt="" style='margin-right: 20px;'/>
            <div>Analysis of COVID-19 and its correlations at international level
                <div class="page-title-subheading">This is an example dashboard created using build-in elements and components.
                </div>
            </div>
        </div>
    </div>
</div>            
<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-alternate">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">COVID-19 non-related variables</div>
                    <div class="widget-subheading">From ...</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>524</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-warning">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">COVID-19 related variables</div>
                    <div class="widget-subheading">Blablabla</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>14</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card mb-3 widget-content bg-dark">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Hypothesis</div>
                    <div class="widget-subheading">Blablabla</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>33</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
